h1{font-size: 200%; color: rgb(133, 40, 40); text-align: center;}
h2{font-size:100% ;color: rgb(211, 145, 145);}
h1 {font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1{border-style:solid;
    border-color: rgb(121, 75, 75);
    border-width: 5px;}
    h1{padding-left: 5%;}